name: Check branch name for "main" (different branch)
on:
  pull_request:
  push:
    branches: [ main, main-test, test-main, test ]
env:
  is-for-trunk-branch: ${{ endsWith(github.base_ref, 'main') || github.ref_name == 'main' }}

jobs:
  check-branch-name:
    runs-on: ubuntu-latest
    outputs:
      foo: ${{ steps.foo.outputs.foo }}
    steps:
      - name: Base_ref
        run: echo "${{ github.base_ref }}"

      - name: ref_name
        run: echo "${{ github.ref_name }}, endsWith - ${{endsWith(github.ref_name, 'main')}}"

      - run: sleep 10
        shell: bash

      - run: |
          return_code=1
          echo "foo=foo" >> $GITHUB_OUTPUT
          echo "return_code=$return_code" >> $GITHUB_OUTPUT
        id: foo
        if: ${{ env.is-for-trunk-branch == 'true' }}

      - name: Run only if for trunk branch
        if: ${{ env.is-for-trunk-branch == 'true' }}
        id: run-only
        run: exit ${{ steps.foo.outputs.return_code }}

  only-main:
    runs-on: ubuntu-latest
    needs: check-branch-name
    if: (!cancelled())
    steps:
      - run: echo ${{ env.is-for-trunk-branch }}
      - run: echo ? ${{ needs.check-branch-name.outputs.foo }}
      - run: echo "complete!!"

