name: Check branch name for "main" (different branch)
on:
  pull_request:
  push:
    branches: [ main, main-test, test-main ]
env:
  is-for-trunk-branch: ${{ endsWith(github.base_ref, 'main') || endsWith(github.ref_name, 'main') }}

jobs:
  check-branch-name:
    runs-on: ubuntu-latest
    steps:
      - name: Base_ref
        run: echo "${{ github.base_ref }}"

      - name: Head_ref
        run: echo "${{ github.head_ref }}"

      - name: ref_name
        run: echo "${{ github.ref_name }}, endsWith - ${{endsWith(github.ref_name, 'main')}}"

      - run: sleep 10
        shell: bash

      - name: Run only if for trunk branch
        if: ${{ env.is-for-trunk-branch }}
        id: run-only
        run: exit 0

  only-main:
    runs-on: ubuntu-latest
    needs: check-branch-name
    steps:
      - run: echo ${{ env.is-for-trunk-branch }}
      - run: echo "complete!!"

