name: Check branch name

jobs:
  check-branch-name:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.base_ref }}"
      - run: echo "${{ github.head_ref }}"
      - run: echo "${{ github.ref_name }}, endsWith - ${{endsWith(github.ref_name, 'main')}}"
      - name: Is true?
        run: ${{ github.base_ref == 'master' || github.head_ref == 'master' || endsWith(github.ref_name, 'master') }}


