name: Restore cache from first run attempt

on:
  workflow_dispatch:

env:
  original-word-cache-key: word-${{ github.ref_name }}-${{ github.run_id }}-ORIGINAL
jobs:
  save-og:
    name: Save original for all future run attempts
    runs-on: ubuntu-latest
    steps:
      - name: Restore cache of the word from previous workflow runs
        id: restore-word
        uses: actions/cache/restore@v4
        with:
          path: word.txt
          key: ${{ env.original-word-cache-key }}
          restore-keys: |
            word-${{ github.ref_name }}-
            word-main-

      - name: Add OG run attempt to file if it doesnt exist
        if: ${{ steps.restore-word.outputs.cache-hit != 'true' }}
        run: |
          run_attempt="${{ github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}"
          echo ORIGINAL: >> word.txt
          echo $run_attempt >> word.txt

      - name: Cache map for all future run attempts map on first run attempt
        if: ${{ !steps.restore-word.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@v4
        with:
          key: ${{ env.original-word-cache-key }}
          path: word.txt

  read:
    name: Read file
    runs-on: ubuntu-latest
    needs: save-og
    steps:
      - name: Word | Restore original cache of run attempt
        id: restore-original
        uses: actions/cache/restore@v4
        with:
          path: word.txt
          key: ${{ env.original-word-cache-key }}

      - name: Current attempts
        run: cat ./word.txt
  merge:
    runs-on: ubuntu-latest
    needs: read
    steps:
      - name: Get cached from main
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: false
          path: word.txt
          key: word-${{ github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}
          # Restore keys in order:
          ## 1. Default provided key from inputs
          ## 2. Same key from current branch and previous run
          ## 3. Same key from current branch
          ## 4. Key from default branch of "master" (GitHub Actions does not provide a way to get the default_branch name easily)
          restore-keys: |
            word-${{ github.ref_name }}-
            word-main-

      - name: Create textfile of this run attempt's information
        run: |
          run_attempt="${{ github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}"
          echo MERGED: >> word.txt
          echo $run_attempt >> word.txt
      - name: Read all attempts
        run: cat ./word.txt
      - name: Cache map for to branch
        uses: actions/cache/save@v4
        with:
          key: word-${{ github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}
          path: word.txt
