name: Restore cache from first run attempt

on:
  workflow_dispatch:
jobs:
  restore:
    name: Restore file from first run attempt of a workflow
    runs-on: ubuntu-latest
    steps:
      - name: Restore cache of the word from previous workflow runs
        id: id-head-cache
        uses: actions/cache/restore@v4
        with:
          path: word.txt
          key: word-${{ github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: |
            word-${{ github.ref_name }}-${{ github.run_id }}-ORIGINAL
            word-main-

      - if: ${{ hashFiles('word.txt') == '' }}
        run: |
          run_attempt="${{ github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}"
          echo ORIGINAL: >> word.txt
          echo $run_attempt >> word.txt

      - name: Cache map for all future run attempts map on first run attempt
        if: ${{ github.run_attempt == '1' }}
        uses: actions/cache/save@v4
        with:
          key: word-${{ github.ref_name }}-${{ github.run_id }}-ORIGINAL
          path: word.txt

      - name: Current attempts
        run: cat ./word.txt

  merge:
    runs-on: ubuntu-latest
    needs: restore
    steps:
      - name: Get cached from main
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: false
          path: .cypress_load_balancer/spec-map.json
          key: word-${{ github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}
          # Restore keys in order:
          ## 1. Default provided key from inputs
          ## 2. Same key from current branch and previous run
          ## 3. Same key from current branch
          ## 4. Key from default branch of "master" (GitHub Actions does not provide a way to get the default_branch name easily)
          restore-keys: |
            word-main-

      - name: Create textfile of this run attempt's information
        run: |
          run_attempt="${{ github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}"
          echo MERGED: >> word.txt
          echo $run_attempt >> word.txt
      - name: Read all attempts
        run: cat ./word.txt
