name: Scheduled with inputs

  #TODO: temporary
on:
  schedule:
    - cron: '0/5 * * * *'
  workflow_dispatch:
    inputs:
      number:
        type: number
        default: 1
        required: false

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ fromJson(inputs.number) || 2 }}"
