name: LS files in system
on:
#  schedule:
#    - cron: '*/5 * * * *'
  workflow_dispatch:


jobs:
  ls:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check files
        run: ls -al
